{% extends "layout.html" %}

{% block title %}
about
{% endblock %}
{% block main %}

<header>
    <div class="wrapper">
        <h1>Face Recognition<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact_us">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<h1><u>About-Me</u></h1>
<br><br><br>
<h3 style="text-align: justify;">Hi! My name is Navya Arora, and I’m a second year B.tech student at IIT Jammu.<br> I reside in Delhi. I have done my schooling from Amity International School, Delhi.
<br>
Other than studying engineering, I like to sketch, paint, dance and chill! But also I love hustling! <br>At college I’m the coordinator of Abhivyakt, where I learn time and team management.</h3>

{%endblock%}