{% extends "layout.html" %}

{% block title %}
contact_us
{% endblock %}
{% block main %}

<header>
    <div class="wrapper">
        <h1>Face Recognition<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact_us">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<h1><u>Contact-Us</u></h1>

<br><br><br><br><br>
<h3>Made by- Navya Arora
    <br><br><br>
For all enquiries, please email to: navya7oct@gmail.com</h3>

{%endblock%}