{% extends "layout.html" %}

{% block title %}
index
{% endblock %}
{% block main %}

<body>
    <header>
        <div class="wrapper">
            <h1>Face Recognition<span class="color">.</span></h1>
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact_us">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1 style="font-family: Times New Roman; font-family: 'Courier New'; color: rgb(75, 0, 128);">
    <br><br>
    Hello! Welcome! You're logged in successfully!</h1>
    <br><br><br><br><br>
    
    If you've NOT SETUP FACE RECOGNITION, you may do it from the navigation bar
    <br>
    If you've set-up, you may use face password to login.

</body>

</html>
{%endblock%}